.box {
  background-color: #ddd;
  margin: 12px 0;
  padding: 28px;
  text-align: center;
  line-height: 100%;
}

.box--active {
  background-color: greenyellow;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main .box:nth-child(2){
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.input--active {
  background-color: yellow;
}